  /*   Main   */
    body {
      color: black;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    h1, h2, h3 {
      margin: 0px;
    }
    a {
      color: black;
      text-decoration: none;
    }
    li{
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }
    ul {
      padding: 0px;
      margin: 0px;
    }
    .main{
      width: inherit;
      float: left;
      border: 1px solid black;
    }
    .imgTitle {
      border: 1px solid black;
    }

    .imgTitle img{
      vertical-align:middle;
    }
  /* END */

  /*  Navegation Bar */
    nav {
      width: inherit;
      padding: 0px;
    }
    nav ul{
      border: 1px solid black;
    }
    nav li {
      display: inline;
      border: 1px solid black;
    }
    /*    Drop down menu*/
    .dropContent{
      display: none;
    }

    .dropContent a{
      display: block;
    }

    .dropBtn:hover .dropContent{
      border: 1px solid black;
      display: block;
    }

  /* END  Navigation Bar*/

  /* Character list Aside */
    aside {
      border: 1px solid black;
      width: 20%;
      margin: 5px;
      float:left;
    }
    aside li {
      border: 1px solid black;
    }
    aside li a{
    }
    aside li img{
      vertical-align:middle;
    }

  /* END Character list Aside */

  /* Character sumarry resume*/

    section.content{
      border: 1px solid black;
      width: 70%;
      float: right;;
      padding: 10px;
    }
    .equipement {
      margin-left: 20px;
      border: 1px solid black;
      float: left;
    }
    .equipement img{
      display: block;
      vertical-align:middle;
    }
    .stats{
      border: 1px solid black;
      float:right;
      clear:right;
      padding: 0px 10px;
    }
    .stat{
      float: left;
      width: 100%;
      margin: 2px 0px;
    }
    .stat img{
      float:left;
    }
    .stats .primary{
      width: 48%;
      float: left;
    }
    .stats .secundary {
      width: 48%;
      float: right;
    }
    .key {
    }
    .valor {
      float: right;
    }
    .accesories {
      margin-top: 50px;
      margin-right: 50px;
      float: right;
      clear:right;
    }

  /* END Character sumarry resume*/

  /*  Achievement page */

    .tracking {
      float:left;
    }
    .tracking ol {
      padding-left: 0px;
      border: 1px solid black;
    }
    .finder {
      margin: 5px 0px;
      border: 1px solid black;
      float:left;
      width: auto;
    }

  /* END Achievement page */
